---
name: Lint GHA Files
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Lint files
        uses: actions/checkout@v4
      - run: echo "Running shell script lint!"
      - run: find . -name "*.sh" -type f | xargs -I {} shellcheck --severity=error {}
      - run: echo "Running yml file lint!"
      - run: find . -name "*.yml" -type f | xargs -I {} yamllint {}
